<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span>HOME</span> -->
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="email" formControlName="email" placeholder="Email">
  <button type="submit">Submit</button>
</form> 